<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ajouter.css">
    <title>Ajouter</title>
</head>
<body>
    <div class="soustitre">
        <p>Ajout d'un employé</p>
        <form action="/ajouter"  method="POST">
           <label for="nom">Nom : </label> <br>
           <input type="text" name="nom"> <br> <br>
           <label for="prenom">Prénom(s) : </label> <br>
           <input type="text" name="prenom"><br> <br>
           <label for="date">Date de naissance : </label> <br>
           <input type="date" name="date_naissance"><br> <br>
           <label for="lieu">Lieu de naissance : </label> <br>
           <input type="text" name="lieu_naissance"><br> <br>
           <label for="emploi">Emploi : </label> <br>
           <input type="text" name="emploi"> <br> <br>
           <label for="num_mat">Numéro matricule : </label> <br>
           <input type="text" name="num_mat"> <br><br> <br>
           <button type="submit" value="ajouter">Ajouter</button></a>
        </form>

    </div>
   
    
</body>
</html>